name: Build and Deploy

on:
  # Run this workflow for all pull requests
  pull_request:

  # Only run this workflow on push in the default branch, other branches will be built by the pull_request trigger
  push:
    branches:
      - main

  # Regularly run this workflow (on the default branch) to update the available versions
  schedule:
    - cron: '0 * * * *'

  # Allow manual dispatch of this workflow
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create output directory
        run: mkdir out

      - name: Download existing manifest
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: wget -O /tmp/manifest.json "$(gh api "repos/$GITHUB_REPOSITORY/pages" --jq '.html_url')manifest.json" && mv /tmp/manifest.json out/manifest.json

      - name: Create manifest
        uses: gw2load/generate-manifest-action@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          manifest_path: out/manifest.json
          loader_repository: gw2load/GW2Load

      - name: Upload manifest as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: out/

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build

    # only run on default branch
    if: github.ref_name == github.event.repository.default_branch

    # setup required permissions to deploy pages
    permissions:
      pages: write
      id-token: write

    # deploy to the default github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  # Keep this workflow alive even if there were no commits in the last 60 days
  # (see https://docs.github.com/en/actions/managing-workflow-runs-and-deployments/managing-workflow-runs/disabling-and-enabling-a-workflow)
  keepalive:
    name: Keepalive
    runs-on: ubuntu-latest

    if: github.event_name == 'schedule'

    steps:
      - name: Keep workflow alive
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.actions.enableWorkflow({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'main.yaml'
            })
